@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --bg-nav-color: RGB(12, 15, 10, 0.8);
  --main-font-family: "Rubik", monospace, sans-serif;
  --bg-component-color: #1c1818;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  color: #82f5ff;
}

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  background-color: #191716;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  gap: 25px;
}

nav {
  /* background-color: var(--bg-nav-color); */
  background-image: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(28.5px);
  -webkit-backdrop-filter: blur(28.5px);
  width: 100%;
  height: 64px;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-around;
  color: #f5fffa;
}

.filters {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.filters .filter {
  flex: 1 1 auto;
  text-align: center;
}

.filters .filter input {
  display: none;
}

.filters .filter .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: white;
  transition: all 0.15s ease-in-out;
}

.filters .filter input:checked + .name {
  background-color: #555;
  font-weight: 600;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3 0px;
}

#filterdiv,
#spaceout {
  width: 25vw;
  height: 90vh;
}

#main_wrapper {
  height: 90vh;
  width: 50vw;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.p-cats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.p-cat {
  background-color: #333;
  padding: 3px 3px;
  border-radius: 10px;
}

.navMainLogo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

a {
  all: unset;
}

.profile {
  width: 100px;
  height: 30px;
  border-radius: 1000px;
  border: 0.5px solid #faeef4;
  background-color: transparent;
  font-family: var(--main-font-family);
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faeef4;
  cursor: pointer;
  transition-duration: 0.3s;
}

.profile:hover {
  background-color: #faf1f1;
  color: black;
  font-weight: bolder;
  border: 0;
}

#btn-message {
  --text-color: rgb(255, 255, 255);
  --bg-color-sup: #5e5e5e;
  --bg-color: #0019f8;
  --bg-hover-color: #161616;
  --online-status: #00da00;
  --font-size: 16px;
  --btn-transition: all 0.2s ease-out;
}

.button-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 var(--font-size) Helvetica Neue, sans-serif;
  background-color: white;
  border-radius: 68px;
  cursor: pointer;
  width: fit-content;
  height: 40px;
  border: 0;
  border: 1px solid white;
  overflow: hidden;
  position: relative;
  transition: var(--btn-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-message:hover {
  /* height: 56px; */
  /* padding: 8px 20px 8px 8px; */
  background-color: transparent;
  transition: var(--btn-transition);
  color: white;
}

.button-message:active {
  transform: scale(0.99);
}

.content-avatar {
  width: 30px;
  height: 30px;
  margin: 0;
  transition: var(--btn-transition);
  position: relative;
}

.content-avatar.gender-M {
  background-color: blue;
  #btn-message {
    background-color: blue;
  }
}

.author-M {
  background-color: #0000b8;
}

.author-F {
  background-color: pink;
}

.content-avatar.gender-F {
  background-color: pink;
}

.content-avatar.gender-O {
  background-color: gray;
}

.button-message:hover .content-avatar {
  width: 40px;
  height: 40px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg-color-sup);
}

.user-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-user {
  position: absolute;
  width: 6px;
  height: 6px;
  right: 1px;
  bottom: 1px;
  border-radius: 50%;
  outline: solid 2px var(--bg-color);
  background-color: var(--online-status);
  transition: var(--btn-transition);
  animation: active-status 2s ease-in-out infinite;
}

.button-message:hover .status-user {
  width: 10px;
  height: 10px;
  right: 1px;
  bottom: 1px;
  outline: solid 3px var(--bg-hover-color);
}

.notice-content {
  text-align: initial;
  color: #000;
}

.Logout-div {
  letter-spacing: -6px;
  height: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: var(--btn-transition);
}

.user-id {
  font-size: 12px;
  letter-spacing: -6px;
  height: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: var(--btn-transition);
}

.User-div {
  display: flex;
  align-items: center;
  opacity: 1;
  transform: scaleY(1);
  transition: var(--btn-transition);
}

.button-message:hover .Logout-div {
  height: auto;
  letter-spacing: normal;
  opacity: 1;
  transform: translateY(0);
  color: white;
  transition: var(--btn-transition);
}

.button-message:hover .user-id {
  height: auto;
  letter-spacing: normal;
  opacity: 1;
  transform: translateY(0);
  transition: var(--btn-transition);
}

.button-message:hover .User-div {
  height: 0;
  transform: scaleY(0);
  transition: var(--btn-transition);
  color: white;
}

.User-div,
.Logout-div {
  font-weight: 600;
}

.number-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 8px;
  font-size: 12px;
  width: 16px;
  height: 16px;
  background-color: var(--bg-color-sup);
  border-radius: 20px;
}

/*==============================================*/
@keyframes active-status {
  0% {
    background-color: var(--online-status);
  }

  33.33% {
    background-color: #93e200;
  }

  66.33% {
    background-color: #93e200;
  }

  100% {
    background-color: var(--online-status);
  }
}

.actionitems {
  all: unset;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: var(--main-font-family);
}

.actionitems > li {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.actionitems > li:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.166);
}

.actionItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionItem > img {
  width: 30px;
  height: 30px;
}

/* Style for a Post*/

.f-post {
  cursor: pointer;
  background-color: #383838;
  width: 50vw;
  font-family: var(--main-font-family);
  min-height: 25vh;
  border-radius: 5px;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.noimage {
  margin-top: 61px;
}

.p-header {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1em;
}

.p-creationDate {
  color: hsla(0, 0%, 100%, 0.535);
}

.p-nickname {
  font-weight: 900;
  color: #ffffff;
}

.p-image > img {
  width: 300px;
  height: 80%;
  border-radius: 10px;
  margin-top: 10px;
}

.p-profileInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-weight: 800;
}

.p-profile-pic.gender-M {
  background-color: #0000b8;
}

.p-profile-pic.gender-F {
  background-color: #b800c9;
}

.p-profile-pic.gender-O {
  background-color: gray;
}

.p-main {
  margin-top: 1em;
  width: 90%;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
}

.p-stats {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40%;
}

.p-likeCount {
  display: flex;
  align-items: center;
  gap: 5px;
}

.p-likeCountC {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.p-likeBtnC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-likeBtnC > img {
  cursor: pointer;
  width: 15px;
}

h4 {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 10%;
  color: white;
}

.p-content {
  margin-bottom: 1em;
}

.p-commentCount {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.p-commentCount > img {
  transition: ease-out 0.3s;
}

.p-commentCount > img:hover {
  transform: translateY(-5px);
}

.p-likeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-likeBtn > img {
  cursor: pointer;
  transition: ease-out 0.9s;
  width: 20px;
}

.p-likeBtn > img:hover {
  transform: translateY(-5px);
}

/*Test*/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #181818;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 620px;
  min-height: 200px;
  border-radius: 16px;
  border: 0.6px solid rgba(243, 245, 247, 0.15);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.post-modal {
  margin: 5% auto;
  min-height: 400px;
}

#c-post-userinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.c-post-pfp {
  width: 36px;
  height: 36px;
  border-radius: 1000px;
}

.c-post-pfp.gender-M {
  background-color: blue;
}

.c-post-pfp.gender-F {
  background-color: pink;
}

.c-post-pfp.gender-O {
  background-color: gray;
}

#img-upload {
  display: none;
}

#c-post-nickname {
  font-weight: 700;
}

#c-post-textArea {
  margin-top: 10px;
  background-color: transparent;
  outline: 0;
  color: white;
  font-size: 1rem;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  resize: none;
  width: 100%;
  height: fit-content;
}

#c-post-textArea::selection {
  color: rgb(255, 165, 255);
}

#c-post-options {
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  background-color: aliceblue;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  margin-bottom: 10px;
}

#c-post-cats {
  display: none;
}

#c-post-cat-select {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 20px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

#c-post-options > div {
  cursor: pointer;
}

.c-post-option > img {
  width: 20px;
  height: 20px;
}

.c-option {
  background-color: #181818;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 20px;
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.c-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#c-post-Btn {
  cursor: pointer;
  border: 0;
  border-radius: 300px;
  padding: 10px 20px;
  transition-duration: 0.3s;
  font-weight: 600;
  background-color: white;
  color: black;
  width: 90px;
}

#c-post-Btn:hover {
  background-color: rgba(0, 0, 0, 0.511);
  color: white;
  border: 0.3px dashed rgba(255, 255, 255, 0.275);
}

.profile-card {
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  margin: 10px auto;
  height: 33%;
  transition-duration: 0.5s;
  min-height: 222px;
}

.profile-header {
  text-align: center;
  /* position: relative; */
  height: 63%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}

.header-background {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #333;
}

.profile-stats div {
  text-align: center;
}

.profile-actions {
  padding: 10px;
  text-align: center;
}

button {
  background-color: #e91e63;
  /* Bright pink color */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c2185b;
  /* Darker pink on hover */
}

#contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

#contacts > div {
  width: 100%;
  color: whitesmoke;
  font-weight: 700;
}

#profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding-top: 36px;
  padding-bottom: 12px;
  font-size: 31px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.contact {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  padding: 10px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact:hover {
  background-color: #333;
}

.profile-pic {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp {
  width: 56px;
  height: 56px;
  border-radius: 1000px;
  background-color: #333;
}

.side-divs {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  flex-direction: column;
  width: 25%;
  /* align-items: flex-end; */
  height: 100%;
  gap: 20px;
}

.online-user-section {
  min-height: 222px;
  background: rgb(35, 0, 60);
  color: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
  height: 33%;
}

.user-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.online {
  color: rgb(121, 255, 121);
  font-weight: 600;
}

.offline
{
  color: rgb(81, 77, 77);
  font-weight: 600;
}

.red-circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}


.user-list > li {
  cursor: pointer;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 20px;
}

.user-list > li:hover {
  background-color: #150023;
}

.categories-text {
  /* font-size: 1.2em; */
  /* font-weight: 600; */
  color: white;
  letter-spacing: 0.5px;
  text-align-last: left;
  padding: 0 5px;
}

@media (max-width: 768px) {
  .side-divs {
    flex-direction: column;
    align-items: center;
  }

  .categories-section {
    flex-basis: 90%;
    /* Takes more space on smaller screens */
  }
}

.profileImage {
  background: linear-gradient(to right, rgb(54, 54, 54), rgb(32, 32, 32));
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.UserInfo-div {
  width: 76%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.UserInfo-div > * {
  text-align: left;
}

.UserName-p {
  font-size: 0.9em;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
}

.profile-title {
  font-size: 0.84em;
  color: rgb(194, 194, 194);
  letter-spacing: 0.2px;
}

/* .profile-card:hover {
background-color: rgb(43, 43, 43);
transition-duration: .5s;
} */

.lower-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 90vh;
}

.online-text {
  color: #b19af7;
}

/* category style */
.p-Category {
  color: white;
  text-align: left;
  font-size: small;
}

.user-stats {
  font-size: 13px;
}

#r-profile {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-weight: 700;
  padding-top: 36px;
  padding-bottom: 12px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#message_space {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 10px;
}

#mdiv {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#user-text {
  width: 70%;
  height: 15%;
  outline: none;
  border-radius: 200px;
  resize: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#user-text:focus {
  border: 0.5px solid rgba(74, 64, 255, 0.775);
  border-radius: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(68, 99, 255);
  width: 30%;
  color: white;
  min-height: 10px;
  margin-top: 30px;
  margin-right: 30px;
  overflow-y: auto;
}

.message.self {
  background-color: #333;
  margin-right: 0;
  margin-left: 20px;
}

.message p {
  margin: 0;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-self: flex-start;
  margin-top: 10px;
  /* overflow-wrap: break-word; */
  word-wrap: break-word; /* Allow long words to break */
  word-break: break-word;
}

.m,
.mself {
  width: 100%;
  display: flex;
}

.m {
  justify-content: flex-end;
}

.sender-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sendTextBtn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition-duration: 0.4s;
}

#sendTextBtn:hover {
  transform: translateY(-3px);
}

/* post modal */
#d-post-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 400px;
  border-radius: 10px;
  overflow-y: scroll;
  gap: 10px;
}

#d-post-wrapper > * {
  width: 50%;
}

#author-profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 900;
}

#top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#post-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#author-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

#comment-side {
  border-left: #383838 solid 1px;
  height: 100%;
  overflow-y: scroll;
}

#comment-input {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  resize: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  width: 90%;
  height: 15%;
  padding: 10px;
}

#author-name {
  font-weight: 700;
}

#comments-wrapper {
  border-top: 0.3px dashed rgba(255, 255, 255, 0.085);
  margin-top: 1em;
  height: 50%;
  overflow-y: scroll;
}

#post-creation-date {
  font-style: italic;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid rgba(243, 245, 247, 0.15);
}

#comment-header-text {
  margin-left: 20px;
  font-weight: 500;
  font-size: 2rem;
}

.comment-header {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1em;
}

